* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --theme-black: #000000;
    --theme-purple: #800080;
    --theme-white: #ffffff;
}

.code {
    font-family: monospace
}

.body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--theme-black);
    color: var(--theme-white);
}

/*Header Classes*/

.header {
    width: 100%;
    margin: 30;
    padding: 40px;
}

.header-left {
    font-size: 30px;
    float: left;
    margin: 10px;
    background-color: transparent;
}

.header-left:hover {
    text-shadow: 0px 0px 5px #800080;
}

.header-right {
    font-size: 20px;
    float: right;
    text-align: right;
    margin: 20px;
}

.header-link {
    padding: 35px;
    text-decoration: none;
    color: var(--theme-white)
}


/*Main Classes*/

/*Opener section classes*/

.opener {
    padding: 20px;
    margin: 20px;
    position: relative;
    text-align: left center;
}

.open-text {
    font-size: 175px;
    position: absolute;
    top: 10%;
    left: 5%;
    background-color: transparent;
    font-style: italic;
}

.open-text:hover {
    color: #800080;
    text-shadow: inset 0px 0px 15px var(--theme-purple), 0 0 15px var(--theme-purple);
    transition: all 1.5s ease-in-out;
}

.open-text-two {
    font-size: 200px;
    position: absolute;
    top: 25%;
    left: 15%;
    background-color: transparent;
    font-style: italic;
}

.open-text-two:hover {
    color: #800080;
    text-shadow: inset 0px 0px 15px var(--theme-purple), 0 0 15px var(--theme-purple);
    transition: all 1.5s ease-in-out;
}

.feature-photo {
    width: 100%;
    margin: 10px;
    padding: 10px;
}

/*ABOUT section classes*/

.about {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.about-about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100%;
    width: 100%;
    padding: 10px;
}

.about-image {
    width: 35%;
    margin: 40px;
    padding: 20px;
    float: left
}

.about-text {
    flex-direction: row;
    float: right;
    padding-left: 60px;
    padding-top: 80px;
    font-size: 30px;
}

.about-direction {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100%;
    width: 100%;
    padding: 10px;
}

.direction-image {
    width: 35%;
    margin: 40px;
    padding: 20px;
    float: left
}

.direction-text {
    flex-direction: row;
    float: right;
    padding-left: 60px;
    padding-top: 80px;
    font-size: 30px;
}

/*PROJECT section classes*/

.projects {
    justify-content: center;
    background-color: var(--theme-black);
    position: relative;
    background-color: transparent;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.project-script { 
    font-size: 150px;
    position: relative;
    background-color: transparent;
    font-style: italic;
    width: 100%;
    text-align: center;
}

.project-script:hover {
    color: #800080;
    text-shadow: inset 0px 0px 15px var(--theme-purple), 0 0 15px var(--theme-purple);
    transition: all 1.5s ease-in-out;
}

.box {
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 20px;
    padding: 10px;
    position: relative;
}

.project-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    opacity: 0.5;
}

.box:hover {
    text-shadow: 0px 0px 10px #800080; 
    transition: all 1.5s ease-in-out;
}

.feature-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    height: 75vh;
    padding: 10px;
    color: var(--theme-white);
    outline: 2px solid var(--theme-white);
}

.feature-box:hover {
    text-shadow: 0px 0px 10px #800080; 
    transition: all 1.5s ease-in-out;
}

.website-box {
    flex-direction: column;
    flex-grow: 1;
    width: fit-content;
    height: 100%;
    padding: 10px;
    color: var(--theme-white);
    outline: 2px solid var(--theme-white);
    object-fit: cover;
}

.website-box:hover {
    box-shadow: 0px 0px 10px #800080; 
    transition: all 1.5s ease-in-out;
}

.box-header {
    position: absolute;
    font-size: 30px;
    background-color: transparent;
    text-align: center;
    top: 10px;
    left: 30px;
}

.project-image {
    display: flex;
    width: 100%;
    height: 100%;
}

#main-project {
    height:65vw;
}

#main-project .project-image {
    height: 64vw;
}

/*CONTACT section classes*/

.contact {
    background-color: transparent;
}

.end-text {
    font-size: 100px;
    position: relative;
    background-color: transparent;
    font-style: italic;
    width: 100%;
    text-align: center;
}

.end-text:hover {
    color: #800080;
    text-shadow: inset 0px 0px 15px var(--theme-purple), 0 0 15px var(--theme-purple);
    transition: all 1.5s ease-in-out;
}

.end-text-two {
    font-size: 100px;
    position: relative;
    background-color: transparent;
    font-style: italic;
    width: 100%;
    text-align: center;
}

.end-text-two:hover {
    color: #800080;
    text-shadow: inset 0px 0px 15px var(--theme-purple), 0 0 15px var(--theme-purple);
    transition: all 1.5s ease-in-out;
}

.icons {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-logo {
   display: flex;
   height: 100%;
   width: 100%;
   margin: 10px;
   padding: 5px;
}

/* Footer */

.endline {
    text-align: center;
    margin: 40px;
}

/* For different media screens*/

/* Tablets */
@media screen and (max-width: 992px) {
    .header-right {
        flex-direction: column;
        width: 100%;
    }
    .open-text {
        font-size: 60px;
        margin-top: 90px;
    }
    .open-text-two {
        font-size: 60px;
        margin-top: 90px;
    }
    .about-about {
        flex-direction: column;
    }
    .about-image {
        width: 75%;
    }
    .about-text {
        font-size: 16px;
    }
    .about-direction {
        flex-direction: column;
    }
    .direction-image {
        width: 75%;
    }
    .direction-text {
        font-size: 16px;
    }
    .project-script {
        margin-top: 60px;
        font-size: 60px;
    }
    .project-image {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    .box {
        width: 75%;
        margin-left: 60px;
    }
    .box-header {
        font-size: 150%;
    }
    .end-text {
        font-size: 60px;
    }
    .end-text-two {
        font-size: 60px;
    } 
}
  
/* Smartphones */
@media screen and (max-width: 576px) {
    .header-right {
        flex-direction: column;
        width: 100%;
    }
    .open-text {
        font-size: 60px;
        margin-top: 90px;
    }
    .open-text-two {
        font-size: 60px;
        margin-top: 90px;
    }
    .about-about {
        flex-direction: column;
    }
    .about-image {
        width: 75%;
    }
    .about-text {
        font-size: 16px;
    }
    .about-direction {
        flex-direction: column;
    }
    .direction-image {
        width: 75%;
    }
    .direction-text {
        font-size: 16px;
    }
    .project-script {
        margin-top: 60px;
        font-size: 60px;
    }
    .box {
        width: 75%;
        margin-left: 60px;
    }
    .box-header {
        font-size: 150%;
    }
    .end-text {
        font-size: 60px;
    }
    .end-text-two {
        font-size: 60px;
    } 
}
  